.box {
  border: 2px solid #1c1c1c;
  height: 300px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-size: 26px;
}
.btn {
  display: block;
  margin: 10px auto;
  background: transparent;
  color: #000;
  border: 4px double #000;
  padding: 6px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}